/* Reset Styles */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Tablet Styles */
@media screen and (min-width: 600px) and (max-width: 799px) {
    /* Add tablet styles here */
}

/* Desktop Styles */
@media screen and (min-width: 800px) and (max-width: 1999px) {
    /* Add desktop styles here */
}

/* Bigger Desktop Styles */
@media screen and (min-width: 2000px) {
    /* Add bigger desktop styles here */
}